<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" type = "text/css" href = "Location.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script async defer 
    src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyC-4R_4Zg-_em7DnJ1ysoOsijnPRP_cEs8" defer>
    </script>

    <script>
        function initMap(){
            const myLatLng = {lat: 12.98044088592995, lng : 77.59497561005846};

            const map = new google.maps.Map(document.getElementById("mapCanvas"),{
                zoom : 4,
                center : myLatLng
            });

            var markers=[
                ['Bengaluru', 12.98044088592995, 77.59497561005846],
                ['Delhi', 28.68362419029803, 77.2341716673886]
            ]

            function show() {
                var sidebar = document.getElementById('sidebar');
                var mapCanvas = document.getElementById('mapCanvas');
                sidebar.classList.toggle('active');
                mapCanvas.classList.toggle('active');
            }


            for (var i = 0; i < markers.length; i++) {
                var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: markers[i][0]
                });

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        if (i == 0) {
                            document.getElementById('locationName').innerHTML = "<img src='gps.png' width='3%' height='3%'>Bengaluru";
                            show();
                        } 
                        else if (i == 1) {
                            document.getElementById('locationName').innerHTML = "<img src='gps.png' width='3%' height='3%'>Delhi";
                            show();
                        }
                    };
                })(marker, i));
            }


        }
        window.initMap = initMap;
    </script>

    
    
</head>
<body>
    
    <div id = "sidebar">
        <div class = "content">
            <div class="frame">
                <h1 id="locationName"><img src="gps.png" width="5%" height="5%"></h1>
                <p id="time"></p>
                <script type="text/javascript">
                    function locale() {
                        return new Date().toLocaleString('en-IN');
                    } 
                    document.getElementById( 'time' ).innerHTML = locale(); 
                    setInterval ( function() { document.getElementById("time").innerHTML = locale(); } , 1000 );
    
                </script>
    
            </div>
            <script src="time.js"></script>
            <button id="Help">
                <img class="help" src="help.png">
            </button>
            <!-- 수정 -->
            <div id="modal" class="Modal">
                <div class="modalBox">
                    <img src="how.png">
                </div>
            </div>
            
            <script src="content.js"></script>
            
            <div class = "grid">
                <!-- temperature -->
                <div class = "gridItem" id="temper">
                    <div class="emoji">
                        <img src="good.png">
                    </div>
                    <div class="observe">
                        <p class="name">water temperature</p>
                        <img class="wrap" src="highlight.png">
                        <div class="value"><p>10 °C</p></div>
                    </div>
                </div>
                <!-- pH -->
                <div class = "gridItem" id="pH">
                    <div class="emoji">
                        <img src="bad.png">
                    </div>
                    <div class="observe">
                        <p class="name">pH</p>
                        <img class="wrap" src="highlight.png">
                        <div class="value"><p>7 pH</p></div>
                    </div>
                </div>
                <!-- turbidity -->
                <div class = "gridItem" id="turbidity">
                    <div class="emoji">
                        <img src="good.png">
                    </div>
                    <div class="observe">
                        <p class="name">turbidity</p>
                        <img class="wrap" src="highlight.png">
                        <div class="value"><p>0.05 NTU</p></div>
                    </div>
                </div>
                <!-- water level -->
                <div class = "gridItem" id="level">
                    <div class="emoji">
                        <img src="good.png">
                    </div>
                    <div class="observe">
                        <p class="name">water level</p>
                        <img class="wrap" src="highlight.png">
                        <div class="value"><p>High</p></div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div id = "mapCanvas"></div>

</body>
</html>