<!DOCTYPE html>
<html>
<head>
	<title>login</title>
    <link rel="stylesheet" href="../css/login.css" />
    <script type="text/javascript" src="../js/login.js"></script>
</head>
<body>
    <main>
        <div class="container">
            <h1>Log in</h1>
            <div class="overlay">
                <div class="frame">
                    <h3>Email</h3>
                    <input class="textBox" type="text" name="email" placeholder="">
                    <h3>Password</h3>
                    <input class="textBox" type="password" name="password" placeholder="">
                </div>
            </div>
            <div class="frame2">
                <button class="bottom-login" onclick="login()">Log in</button>
                <div id="popup" class="popup">
                    <p id="pMessage"></p>
                    <button class="close" onclick="hidePopup()">close</button>
                </div> 
                <button class="bottom-join" onclick="location.href='join.html'">Join</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="footerContent">
            <div class="footerLogo">
                PURESOME
            </div> 
            <div class="footerMenu">
                <ul>
                    <li><a>Send Feedback</a></li>
                    <li><a href="policy.html">Privacy Policy</a></li>
                    <li><a href="terms.html">Terms</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                </ul>
            </div>
            <div class="footerText">
                Embassy Tech Square, Cessna Business Park Internal Rd, Kaverappa Layout,<br>
                Kadubeesanahalli, Marathahalli, Bengaluru, Karnataka 560103<br>
                Copyright@2023 PURESOME All Right Reserved
            </div>
        </div>
    </footer>
</body>
</html>