<!DOCTYPE html>
<html>
<head>
	<title>policy</title>
    <link rel="stylesheet" href="../css/policy.css" />
</head>
<body>
    <main>
        <div class="container">
            <h1>Privacy Policy</h1>
            <div class="frame-hr">
                <hr color="#867F7F" size="3" width= "100%">
            </div>
            <div class="overlay1">
                <div class="frame1">
                    <p>
                        • Information PURESOME collects
                        <br>
                        <br>
                        When you create a PURESOME Account, you provide us with personal information that
                        <br>
                        includes your name and a password. You can also add a phone number or email, location to your account.
                        <br><br>
                        We also collect the content you create or receive from others when using our services.
                        <br><br>
                        The information we collect includes unique identifiers, browser type and setting, device type
                        <br>
                        and settings, operating system, mobile network information including carrier name and phone
                        <br>
                        number, and application version number. We also collect information about the interaction of
                        <br>
                        your browsers, and devices with our services, including IP address, crash reports, system
                        <br>
                        activity, and the data, time and referrer URL of your request.
                    </p>
                </div>
            </div>
            <div class="overlay2">
                <div class="frame2">
                    <p>
                        • Your location information
                        <br><br>
                        We collect information about your location when you use our services, which helps us offer
                        <br>
                        features like water source.
                        <br><br>
                        Your location can be determined with varying degrees of accuracy by:
                        • GPS and other sensor data from your device
                        <br>
                        • IP address
                        <br>
                        • Information about things near your device, such as Wi-Fi access points, cell towers, and
                        <br>
                        Bluetooth-enabled devices
                    </p>
                </div>
            </div>
    </main>
    <footer>
        <div class="footerContent">
            <div class="footerLogo">
                PURESOME
            </div>
            <div class="footerMenu">
                <ul>
                    <li><a>Send Feedback</a></li>
                    <li><a href="policy.html">Privacy Policy</a></li>
                    <li><a href="terms.html">Terms</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                </ul>
            </div>
            <div class="footerText">
                Embassy Tech Square, Cessna Business Park Internal Rd, Kaverappa Layout,<br>
                Kadubeesanahalli, Marathahalli, Bengaluru, Karnataka 560103<br>
                Copyright@2023 PURESOME All Right Reserved
            </div>
        </div>
    </footer>
</body>
</html>