@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/back2.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}
.container h1 {
    color: rgba(0,0,0,0.54);
    font-family:'inter', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    border: 1px solid white;
}
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border: none;
    opacity: 1; /*0.5 -> 1*/
    text-align: center;
}
.frame h3 {
    color: #867F7F;
    font-family:'inter', sans-serif;
    font-size: 20px;
    text-align: left;
    /* margin-top: 30px; */
}
.textBox { 
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 3px solid #867F7F;
    background-color: transparent;
    opacity: 0.5;
    outline: none;
}


@media screen and (max-width: 900px) { 
    .overlay h1 {
        font-size: 20px;
    }
    .frame h3 {
        font-size: 15px;
    }
}

.frame2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 20%;
    border: none;
    opacity: 1;
    text-align: center;
}

.bottom-login, .bottom-join {
    background-color: rgba(255,255,255,0.7);
    color: #867F7F;
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 25%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.bottom-login {
    margin-top: 8%;
}
.bottom-join {
    margin-top: 4%;
}
.bottom-login:hover, .bottom-join:hover {
    color: black;
}
@media screen and (max-width: 640x) {
    .container h1 {
        font-size: 30px;
    }
    .frame h3 {
        font-size: 15px;
    }
    .bottom-login, .bottom-join {
        font-size: 15px;
    }
}

footer {
    background-color: white;
    padding: 20px;
    padding-left: 40px;
    font-family:'inter', sans-serif;
    font-size: 15px;
    /* text-align: center; */
}
.footerLogo {
    display: inline-block;
    font-size: 30px;
    font-weight: 900;
    color: gray;
}
.footerMenu {
    display: inline-block;
    margin-left: 40px;
}
.footerMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footerMenu ul li {
    display: inline-block;
    margin: 0 30px;
}
.footerMenu ul li::after {
    content: "|";
    float: right;
    color: #ccc;
    margin-right: -37px;
}
.footerMenu ul li:last-child:after {
    content: "";
}
.footerMenu ul li a {
    color: gray;
    text-decoration: none;
}
.footerMenu ul li a:hover {
    color: black;
    font-weight: bold;
}
.footerText {
    color: #867F7F;
    margin-top: 20px;
    margin-left: 239px;
}
@media screen and (max-width: 824px) {
    footer {
        font-size: 12px;
        text-align: center;
        padding: 15px;
    }
    .footerLogo {
        font-size: 20px;
    }
    .footerMenu {
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    .footerMenu ul li {
        display: inline-block;
        margin: 0 5px;
    }
    .footerText {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .footerMenu ul li::after {
        content: "";
    }
}

.popup {
    display: none;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 120px;
    background-color: #ffffff;
    padding: 20px;
    z-index: 9999;
    border: none;
    border-radius: 10px;
}
.popup p {
    text-align: center;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
.close {
    width: 100px;
    height: 40px;
    background-color: #D9D9D9;
    color: black;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    right: 70px;
    cursor: pointer;
    border: none;
}